body {
  font-family: Helvetica, sans-serif;
  background-color: #f5fffa;
  margin: 0;
  padding: 0;
}

.memes {
	width: 50%;
	margin: 2rem auto;
	display: block;
}
.title {
	font-size: 2rem;
	font-weight: bold;
}

.memes-item {
	display: block;
	padding: 0;
	margin: 0;
	border-bottom: 0.2rem solid lightgrey
}

.memes-input {
	display: none;
}

.meme-label {
	cursor: pointer;
}
.meme-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

p {
	display: block;
	font-size: 1.5rem;
}

.cross {

}

.meme-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

